.all-border
	border 1px solid #F6F6F6
.all-border2
	border 1px solid #B7B7B7
	padding .5em
.mg-top
	margin-top 3%
.mg-top2
	margin-top 4em
.mg-top3
	margin-top .5em
.styless
	list-style none
.app-dropdown
	margin-top 10px
	left -24%
.app-container
	padding-left 0
	margin-left 0
.app-nav
	margin-bottom 0	
.item-menu-left
	padding-top 10px	
.bord-bot	
	border-bottom 1px solid #F6F6F6	
.borde-left
	border-left 1px solid #EFEFEF
.a-menu-left
	color black
	border-radius 0	!important
	&:hover
		color black
		background white !important
.letter-black
	font-size 12px
	color black
	&:hover
		color black
.all-height
	height 100%
	background white	
.txt-center
	text-align center
	
.info-ask,.info-answ
	padding-top 35px
.footer
	color white
	background #3a3a3a
	
textarea
	resize  none
.rules_add_article
	color #B5B5B5
	font-size 17px
	
.sancion-info
	font-size 12px
	color #9E9E9E
	text-align justify